<div id='container' ng-controller='LinksController'>
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
      <li><a href='/logout' class='logout'>Logout</a></li>
    </ul>
  </div>
  <div style="padding:10px;"><input placeholder="filter" ng-model="search"></div>
  <div id='container'>
    <ol class='link' ng-repeat="link in data.links | filter:orderBy:visits | filter:search">
      <li ng-class-odd="'odd'" ng-class-even="'even'">
        <img src='/redirect_icon.png'/>
        <div class='info'>
          <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
          <div class='title'>{{link.title}}</div>
          <div class='original'>{{link.url}}</div>
          <a href={{link.base_url}}/{{link.code}} target="_blank">{{link.base_url}}/api/links/{{link.code}}</a>
        </div>

      </li>
    </ol>
  </div>

</div>

<script id='link' type='text/x-handlebars-template'>
  
</script>